body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    background: #16a34a;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

/* BANNER */
.banner {
    background: url('../images/banner.jpg');
    background-size: cover;
    padding: 60px;
    text-align: center;
}

/* SERVICES */
.services {
    padding: 30px;
    text-align: center;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.service {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

/* PRODUCTS */
#productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}
